<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - Precio: {{this.price}}</li>
        {{/each}}
    </ul>

    <div>
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Página anterior</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Página siguiente</a>
        {{/if}}
    </div>
</body>
</html>
